<!DOCTYPE html>
<html lang="he" dir="rtl">
  
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>בואו להכיר קורס הייטק ללא עלות עם התחייבות לעבודה</title>
  <meta name="description" content="בלוג אישי על דבאופס, הייטק והסבת מקצוע. טיפים, מדריכים ותובנות ממישהו שעשה את הדרך." />
  <link href="https://fonts.googleapis.com/css2?family=Varela+Round&display=swap" rel="stylesheet" />
  <link rel="stylesheet" href="../templates/style.css" />
  <link rel="icon" type="image/png" href="/favicon-96x96.png" sizes="96x96" />
  <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
  <link rel="shortcut icon" href="/favicon.ico" />
  <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png" />
  <meta name="apple-mobile-web-app-title" content="Deletech" />
  <link rel="manifest" href="/site.webmanifest" />
  <link rel="icon" type="image/png" href="https://deletech.info/favicon.png" />
</head>
  
<body>
  <div class="animation-container" id="animation"></div>

  <nav class="nav">
    <a href="index.html" class="nav-square"></a>
    <a class="button" href="https://go.ilrd.co.il/danielr" target="_blank">לפרטים על הקורס</a>
  </nav>

  <main class="content glass-box">
    {{ content }}
  </main>

  <script src="../templates/scripts/animate_squares.js"></script>
</body>
  
</html>