<!DOCTYPE html>
<html lang="he" dir="rtl">
  
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>בואו להכיר קורס הייטק ללא עלות עם התחייבות לעבודה</title>
  <meta name="description" content="בלוג אישי על דבאופס, הייטק והסבת מקצוע. טיפים, מדריכים ותובנות ממישהו שעשה את הדרך." />
  <link href="https://fonts.googleapis.com/css2?family=Varela+Round&display=swap" rel="stylesheet" />
  <link rel="stylesheet" href="../templates/style.css" />
  <link rel="icon" type="image/png" href="https://deletech.info/favicon.png" />
</head>
  
<body>
  <div class="animation-container" id="animation"></div>

  <div class="cta-container">
    <a href="https://go.ilrd.co.il/danielr" class="button" target="_blank">לפרטים על הקורס</a>
  </div>

  <main class="content glass-box">
    {{ content }}
  </main>

  <script src="../templates/scripts/animate_squares.js"></script>
</body>
  
</html>